{% extends 'partials/base.html.twig' %}

{% block content %}
    <section>
        <iframe src="http://site3.julius3d.com" frameborder="0" width="100%" height="900px"></iframe>

        {{ content }}
    </section>

{% endblock %}
